code {
  font-family:'Times New Roman', Times, serif;
}

body {
  margin: 15;
  font-family:'Times New Roman', Times, serif;
  background-color: rgb(214, 201, 185);
}


.cards {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.searchField {
  justify-content: center;
  display: flex;
}